    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
        <title>Storm Runners</title>
        <link rel="stylesheet" href="https://js.arcgis.com/3.22/dijit/themes/claro/claro.css">
        <link rel="stylesheet" href="https://js.arcgis.com/3.22/esri/css/esri.css">
        <style>

            body {
                background-color: #E5E7E9;
                overflow: hidden;
                font-family: "Trebuchet MS";
            }
        </style>
        
    </head>
   <body style="height: 950px">
    <div style="width:100%;height:100%;">
        <div style=" width:25%;float:right; height: 100%; overflow: scroll;">
            <div id="dir"></div>
        </div>
        <div id="map" style="width:75%; height: 100%; overflow: hidden;" >   
        </div>
    </div>
</body>